node_modules
build
npm-debug.log
.env
.env.staging
.env.prod
.DS_Store
src/stocktwits/trending.json
combined.log
.vscode

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

_/

firebase-production.json
firebase-staging.json