files:
 /var/app/ondeck/example.json:
    source: https://pi-keys.s3.amazonaws.com/example.json
 
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: pi-keys