files:
  /tmp/firebase-production.json:
    source: https://pi-keys.s3.amazonaws.com/firebase-production.json
  /tmp/firebase-staging.json:
    source: https://pi-keys.s3.amazonaws.com/firebase-staging.json
 
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: pi-keys